@model advocateMVC.Models.Feedback.ContactModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio, voluptatum quaerat quisquam quasi commodi totam officiis ad quam reprehenderit molestias beatae alias sequi aliquam expedita numquam dolores, nesciunt culpa?
    Nemo labore est adipisci dolores. Maxime debitis sed odio ipsam iste tempora laborum expedita voluptates ea, velit tempore, eum ut officia obcaecati nisi id unde architecto illo? Quod, beatae porro!
    Odio aspernatur labore consectetur! Voluptatem, aliquam sequi? Perspiciatis eum molestias cupiditate cumque minus, nam placeat omnis voluptates recusandae, modi minima explicabo, commodi harum amet ea labore aliquam eligendi incidunt. Et.
    Vero nulla fuga, esse ut omnis tempore, nisi fugiat dolor asperiores labore magnam ipsum unde nostrum modi explicabo quasi error accusamus mollitia pariatur et aliquam placeat dolorum atque? Itaque, aliquam!
    Corporis corrupti fugit voluptatum, alias sapiente facere perspiciatis voluptates nihil hic placeat ea quam labore obcaecati temporibus saepe a quas itaque voluptate. Possimus incidunt alias deleniti? Voluptate doloremque praesentium et.
    Rerum fugiat consequatur culpa veritatis, enim perferendis maiores exercitationem quos aperiam quaerat praesentium eveniet dignissimos eaque nobis, suscipit mollitia dolore sed placeat dolor, sint laboriosam aspernatur earum non. Officiis, suscipit.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio, voluptatum quaerat quisquam quasi commodi totam officiis ad quam reprehenderit molestias beatae alias sequi aliquam expedita numquam dolores, nesciunt culpa?
    Nemo labore est adipisci dolores. Maxime debitis sed odio ipsam iste tempora laborum expedita voluptates ea, velit tempore, eum ut officia obcaecati nisi id unde architecto illo? Quod, beatae porro!
    Odio aspernatur labore consectetur! Voluptatem, aliquam sequi? Perspiciatis eum molestias cupiditate cumque minus, nam placeat omnis voluptates recusandae, modi minima explicabo, commodi harum amet ea labore aliquam eligendi incidunt. Et.
    Vero nulla fuga, esse ut omnis tempore, nisi fugiat dolor asperiores labore magnam ipsum unde nostrum modi explicabo quasi error accusamus mollitia pariatur et aliquam placeat dolorum atque? Itaque, aliquam!
    Corporis corrupti fugit voluptatum, alias sapiente facere perspiciatis voluptates nihil hic placeat ea quam labore obcaecati temporibus saepe a quas itaque voluptate. Possimus incidunt alias deleniti? Voluptate doloremque praesentium et.
    Rerum fugiat consequatur culpa veritatis, enim perferendis maiores exercitationem quos aperiam quaerat praesentium eveniet dignissimos eaque nobis, suscipit mollitia dolore sed placeat dolor, sint laboriosam aspernatur earum non. Officiis, suscipit.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio, voluptatum quaerat quisquam quasi commodi totam officiis ad quam reprehenderit molestias beatae alias sequi aliquam expedita numquam dolores, nesciunt culpa?
    Nemo labore est adipisci dolores. Maxime debitis sed odio ipsam iste tempora laborum expedita voluptates ea, velit tempore, eum ut officia obcaecati nisi id unde architecto illo? Quod, beatae porro!
    Odio aspernatur labore consectetur! Voluptatem, aliquam sequi? Perspiciatis eum molestias cupiditate cumque minus, nam placeat omnis voluptates recusandae, modi minima explicabo, commodi harum amet ea labore aliquam eligendi incidunt. Et.
    Vero nulla fuga, esse ut omnis tempore, nisi fugiat dolor asperiores labore magnam ipsum unde nostrum modi explicabo quasi error accusamus mollitia pariatur et aliquam placeat dolorum atque? Itaque, aliquam!
    Corporis corrupti fugit voluptatum, alias sapiente facere perspiciatis voluptates nihil hic placeat ea quam labore obcaecati temporibus saepe a quas itaque voluptate. Possimus incidunt alias deleniti? Voluptate doloremque praesentium et.
    Rerum fugiat consequatur culpa veritatis, enim perferendis maiores exercitationem quos aperiam quaerat praesentium eveniet dignissimos eaque nobis, suscipit mollitia dolore sed placeat dolor, sint laboriosam aspernatur earum non. Officiis, suscipit.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio, voluptatum quaerat quisquam quasi commodi totam officiis ad quam reprehenderit molestias beatae alias sequi aliquam expedita numquam dolores, nesciunt culpa?
    Nemo labore est adipisci dolores. Maxime debitis sed odio ipsam iste tempora laborum expedita voluptates ea, velit tempore, eum ut officia obcaecati nisi id unde architecto illo? Quod, beatae porro!
    Odio aspernatur labore consectetur! Voluptatem, aliquam sequi? Perspiciatis eum molestias cupiditate cumque minus, nam placeat omnis voluptates recusandae, modi minima explicabo, commodi harum amet ea labore aliquam eligendi incidunt. Et.
    Vero nulla fuga, esse ut omnis tempore, nisi fugiat dolor asperiores labore magnam ipsum unde nostrum modi explicabo quasi error accusamus mollitia pariatur et aliquam placeat dolorum atque? Itaque, aliquam!
    Corporis corrupti fugit voluptatum, alias sapiente facere perspiciatis voluptates nihil hic placeat ea quam labore obcaecati temporibus saepe a quas itaque voluptate. Possimus incidunt alias deleniti? Voluptate doloremque praesentium et.
    Rerum fugiat consequatur culpa veritatis, enim perferendis maiores exercitationem quos aperiam quaerat praesentium eveniet dignissimos eaque nobis, suscipit mollitia dolore sed placeat dolor, sint laboriosam aspernatur earum non. Officiis, suscipit.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti odio, voluptatum quaerat quisquam quasi commodi totam officiis ad quam reprehenderit molestias beatae alias sequi aliquam expedita numquam dolores, nesciunt culpa?
    Nemo labore est adipisci dolores. Maxime debitis sed odio ipsam iste tempora laborum expedita voluptates ea, velit tempore, eum ut officia obcaecati nisi id unde architecto illo? Quod, beatae porro!
    Odio aspernatur labore consectetur! Voluptatem, aliquam sequi? Perspiciatis eum molestias cupiditate cumque minus, nam placeat omnis voluptates recusandae, modi minima explicabo, commodi harum amet ea labore aliquam eligendi incidunt. Et.
    Vero nulla fuga, esse ut omnis tempore, nisi fugiat dolor asperiores labore magnam ipsum unde nostrum modi explicabo quasi error accusamus mollitia pariatur et aliquam placeat dolorum atque? Itaque, aliquam!
    Corporis corrupti fugit voluptatum, alias sapiente facere perspiciatis voluptates nihil hic placeat ea quam labore obcaecati temporibus saepe a quas itaque voluptate. Possimus incidunt alias deleniti? Voluptate doloremque praesentium et.
    Rerum fugiat consequatur culpa veritatis, enim perferendis maiores exercitationem quos aperiam quaerat praesentium eveniet dignissimos eaque nobis, suscipit mollitia dolore sed placeat dolor, sint laboriosam aspernatur earum non. Officiis, suscipit.
</p>
