@model advocateMVC.Models.Feedback.ContactModel;
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Index.css" rel="stylesheet" />
<div>
    <div class="container">
        <div class="title-overlay">
            <h4>Квалифицированное оказание юридической помощи</h4>
            <p id="textbox-popup">
                Суд, государственный орган, иная организация или должностное лицо не могут отказать в признании права адвоката представлять права и интересы физического или юридического лица, обратившегося за юридической помощью, за исключением случаев, предусмотренных законодательными актами.
            </p>
            <h3><a id="link" href="/Home/Contacts" target="_blank">Записаться</a> на консультацию.</h3>
            <div class="contacts-btn">
                <form asp-controller="Home" asp-action="Contacts" method="get">
                    <button type="submit" id="default-btn">Получить консультацию</button>
                </form>
            </div>
        </div>
        <div class="practicearea">
            <div class="practicearea-header">
                <div>
                    <h2>Области юридической практики</h2>
                    @*<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>*@
                </div>
                <div class="personalisation-container">
                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-gavel"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Гражданское право</a></h3>
                                <p>Одна из самых объемных и самых сложных сфер деятельности, включает в себя широкий спектр юридической помощи: взыскание долгов, оспаривание сделок, признание сделок недействительными, правовую оценку договоров и др.</p>
                            </div>
                        </div>
                    </div>
                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-user-secret"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Уголовное право</a></h3>
                                <p>Юридическая помощь предоставляется как подозреваемым и обвиняемым (защита на стадии предварительного следствия и в суде), так и потерпевшим (представление интересов, предъявление гражданского иска, взыскание морального вреда).</p>
                            </div>
                        </div>
                    </div>
                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-home"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Жилищное право</a></h3>
                                <p>Выселение граждан, определение порядка пользования жилым помещением, снятие с регистрационного учета, вопросы приватизации и совместного домовладения, постановки на учет нуждающихся в улучшении жилищных условий и т.п.</p>
                            </div>
                        </div>
                    </div>
                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-book"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Хозяйственное право</a></h3>
                                <p>Юридическое сопровождение хозяйственной деятельности – одно из важнейших направлений юридической помощи, включает в себя консультации, составление проектов договоров, претензий, исковых заявлений, представление интересов в суде и на стадии исполнительного производства.</p>
                            </div>
                        </div>
                    </div>
                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-users"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Семейное право</a></h3>
                                <p>Брачный договор, расторжение брака, раздел совместно нажитого имущества, взыскание алиментов, определение места жительства ребенка, определение порядка общения с ребенком и участия в его воспитании, лишение родительских прав.</p>
                            </div>
                        </div>
                    </div>

                    <div class="personalisation-sector">
                        <div class="services">
                            <p><i class="far fa-shield-alt"></i></p>
                            <div class="desc">
                                <h3><a id="link" href="#">Иные отрасли права</a></h3>
                                <p>Адвокат оказывает юридическую помощь в области административного, наследственного, налогового, трудового, земельного и таможенного права. Такая помощь оказывается в виде устных и письменных консультаций, составлении правовых документов и представлении интересов клиентов.</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-btn">
                        <form asp-controller="Home" asp-action="About" method="get">
                            <button type="submit" id="default-btn">Смотреть больше</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="consultation-area">
        <div class="consultation-area-text">
            <p id="consultation-textbox-header">Консультация адвоката </p>
            <p id="consultation-textbox-popup">
                Адвокат ответит на ваши вопросы в соответствии с нормами законодательства.
            </p>
            <div class="contacts-btn">
                <form asp-controller="Home" asp-action="Contacts" method="get">
                    <button type="submit" id="default-btn">Получить консультацию</button>
                </form>
            </div>
        </div>
    </div>


    <div id="hours_content" class="current-hours-content">
        <span>Откроется в 09:00</span>
        <span class="active">Закроется сегодня в 18:00</span>
        <span>Откроется завтра в 09:00</span>
        <span>Закроется сегодня в 19:00</span>
        <span>Откроется в понедельник в 09:00</span>
        <span>Закрыто</span>
    </div>

</div>


