@model advocateMVC.Models.Feedback.ContactModel;
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Index.css" rel="stylesheet" />
<div>
    <h4>High-Quality Legal Services</h4>
    <p id="textbox-popup">
        Minsk Regional Collegium of Advocates is a reliable law firm that was 
        formed in late 1993 and has been providing high-quality legal services for 
        more than 20 years. If you or someone you love has faced the necessity of 
        professional assistance - we are here to help you make the best legal decisions.
    </p>
   
    <div class="practicearea">
        <div class="practicearea-header">
            <div>
                <h2> Our Legal Practice Area</h2>
            </div>
        </div>

    </div>

</div>
