
nav {
    margin-top: 1px;
    display: -webkit-flex;
    display: flex;
}

.navbar {
    margin-left: auto;
    margin-right: 200px;
}

    .navbar ul li {
        display: inline-block;
        font-family: "Work Sans", Arial, sans-serif;
        line-height: 1.8;
        padding: 18px;
        font-size: 15px;
    }

        .navbar ul li a {
            color: rgba(255, 255, 255, 0.6);
            text-decoration: none;
            transition: 0.3s;
        }

            .navbar ul li a:hover {
                color: #EA9215;
            }

            .navbar ul li a:hover, .navbar ul li a:focus {
                color: rgba(255, 255, 255, 0.9)
            }

    .navbar ul .active a {
        color: #EA9215;
    }

.brand {
    font-family: "Work Sans", Arial, sans-serif;
    line-height: 1.8;
    padding: 18px;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    color: #EA9215;
    text-align: left;
    margin-left: 352px;
}
