body .parallax {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/img_bg_1.jpg');
    /* Set a specific height */
    min-height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#textbox-popup {
    color: whitesmoke;
    text-align: left;
    font-family: "Work Sans", Arial, sans-serif;
    width: 400px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

h4 {
    font-size: 18px;
    color: #000;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}
h2 {
    color: #EA9215;
}

.contacts-btn {
    margin-top: 20px;
    color: #EA9215;
}

#link {
    color: #EA9215;
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    text-align: left;
}
h3 {
    text-decoration: none;
    transition: 0.5s;
    font-size: 20px;
    line-height: 1.5;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    text-align: left;
    color: whitesmoke;
}
#default-btn {
    color: whitesmoke;
    background-color: #EA9215;
    font-size: 18px;
    /*padding: 18px 36px !important;*/
    padding: 18px 36px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: "Work Sans", Arial, sans-serif;
    transition: 0.5s;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
    /*border-radius: 50px 0 0 50px;*/
    border-radius: 50px;
   
}
    #default-btn:hover {
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
    }

.practicearea h2 {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    text-align: center;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    /*margin: 0 0 20px 0;*/
    margin-top: 20px;
}

.practicearea-header p {
    
    font-size: 18px;
    line-height: 1.5;
    color: #828282;
    text-align:center;
}
.personalization-container {

    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #EA9215;
    content: " ";
    /*display: table;*/
    width: 100%;
}
.personalisation-container{
    margin: 0 auto;
    padding: 15px;
}
.personalisation-sector {
    display: inline-block;
    vertical-align: top;
}

.personalisation-sector {
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin-left: 15px;
}
.services{
    padding: 10px;
}

.desc h3,
p{
    text-align: center;
    margin: 1px;

}
.about-btn {
    text-align: center;
}

.index-container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.title-overlay {
    position: absolute;
    width: 1170px;
    margin: 0 auto;
    top: 8em;
}
.consultation-area {

    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../img/img_bg_1.jpg');
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.consultation-area {
    text-align: center;
    color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#consultation-textbox-header {
    font-size: 30px;
    padding:10px;
}
#consultation-textbox-popup {
    color: whitesmoke;
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.consultation-area-text{
    padding:100px;
}