
.preloader {
    display: inline-block;
    position: fixed; /*relative;*/
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
   
}

    .preloader div {
        position: absolute;
        /*border: 3px solid #fff;*/
        border: 3px solid #ff0000;
        opacity: 1;
        border-radius: 50%;
        animation: preloader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        /*animation-iteration-count:2;*/
    }

        .preloader div:nth-child(2) {
            animation-delay: -0.5s;
        }

@keyframes preloader {
    0% {
        top: 64px;
        left: 64px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 128px;
        height: 128px;
        opacity: 0;
    }
}
