* {
    margin: 0;
    padding: 0;
}

body .parallax {
    background-color: darkslategray;
}

body {
    margin: 0;
    background-color: #f6f5f5;
}

.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-footer-content {
    text-align: center;
    font-family: "Work Sans", Arial, sans-serif;
    color: #828282;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.footer-content-header {
    text-align: center;
    display: inline-block;
}

.footer-widget {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    width: 270px;
}

    .footer-widget p {
        text-align: left;
    }

.footer-widget-links li {
    list-style-type: none;
}

    .footer-widget-links li a {
        text-decoration: none;
        color: #828282;
    }

.footer-widget-links a:hover {
    text-decoration: underline;
}

.social-icons li {
    list-style-type: none;
}

    .social-icons li a {
        color: #EA9215;
        margin: 10px;
    }

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-top: 10px;
}

.contactbar {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: flex-end;
    margin-right: 218px;
    padding-top: 10px;
    font-family: "Work Sans", Arial, sans-serif;
    letter-spacing: 1px;
}
    .contactbar ul li {
        display: inline-block;

    }

.top-phone-number p {
    margin-left: auto;
    font-size: 13px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 7px;
}
.top-phone-number a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}
    .top-phone-number a:hover, .top-phone-number a:focus {
        color: rgba(255, 255, 255, 0.9);
    }

    .top-social li {
        list-style-type: none;
    }
    .top-social li a {
        letter-spacing: 1px;
        color: rgba(255, 255, 255, 0.6);
        padding: 0 7px;
        transition: 0.3s;
    }

.top-social ul li a:hover, .top-social ul li a:focus {
    color: rgba(255, 255, 255, 0.9);

}