
nav {
    margin-top: 1px;

}
    nav ul {
        text-align: right;
        margin-right: 190px;
    }

        nav ul li {
            display: inline-block;
        }
            nav ul li a {
                font-family: "Work Sans", Arial, sans-serif;
                line-height: 1.8;
                padding: 18px;
                font-size: 17px;
                text-decoration: none;
                display: block;
                transition: 0.3s;
                color: rgba(255, 255, 255, 0.5);
                /*color:gray;*/
            }

                nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active {
                    color: white;
                    /*color: red;*/
                }
.active a {
    color: goldenrod;

}
